.acpGewinnerInfo {
	-fx-background-image: url("resources/Gewinninfo.png");
	-fx-background-position: center;
	-fx-background-size: 330;
	-fx-background-repeat: no-repeat;
}

.lblGewinnInfo {
	-fx-text-alignment: left;
	-fx-content-display: top;
	-fx-font: 10px "Serif";
	-fx-font-weight: bold;
	
}

.lblGewinnZahlen {
	-fx-font: 11px "Serif";
}

.lblZiehungvom {
	-fx-font: 11px "Serif";
}